<% provide(:title, @text.question) %>

<div class="row">
  <aside class="col-md-20">
    <section class="text_info">
    <h1>
      APIs recommended for you:
    <h1>
    <h2>
      <% (recommendation_for @text).each do |key,value| %>
      <li>
        <%= value %>
      </li>
      <% end %>
    </h2>


    </section>
  </aside>
</div>
