<footer class="footer">
  <small>
    Build and Maintain by <a href="https://github.com/BaccanoEva">LiuYancen@CoopIs</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>
